# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv

# config
config/*
!config/bots_config_example.json

# logs
*.log
logs

# private files
_private_*
position_records/
position_states/

# backup
_v1/
_v2/
_v3/
